<div class="hobby">
    <h2>Registra un zombie</h2>
    <form action="agregar.php" method="post">
        <div class="input-field col s6">
          <input placeholder="Nombre" id="nombre" type="text" class="validate" name="nombre">
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Apellido Paterno" id="apellidoP" type="text" class="validate" name="apellidoP">
          <label for="apellidoP">Apellido Paterno</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Apellido Materno" id="apellidoM" type="text" class="validate" name="apellidoM">
          <label for="apellidoM">Apellido Materno</label>
        </div>
        <div class="input-field col s6">
                <?php echo getEstado();?>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Agregar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>