<div class="hobby">
    <form action="agregar.php" method="post">
        <div class="input-field col s6">
                <?php echo getEstado();?>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Agregar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>