<div class="hobby">
    <h2>Cambiar estado del zombie</h2>
    <form action="editar.php" method="post">
        <div class="input-field col s6">
          <input placeholder="Nombre" id="nombre" name="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="apellidoP" id="apellidoP" name="apellidoP" type="text" class="validate">
          <label for="apellidoP">Apellido paterno</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="apellidoM" id="apellidoM" name="apellidoM" type="text" class="validate">
          <label for="apellidoM">Apellido materno</label>
        </div>
        <div class="input-field col s6">
            <?php echo getEstado()?>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Cambiar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>