		
        </div>
        </main>
        <footer id="contact">
        	<h2>Sigueme:</h2>
            	<nav class="nav_plain">
                	<ul>
                    	<li><a href="https://www.facebook.com/lopez.david96"><i class="fa fa-facebook fa-3x"></i></a></li>
                	</ul>
            	</nav>
    	</footer>
	</div> 
</body>

</html>