body{
	background-color: #000000;
	background-image:url(IMG/IMG_BG.jpg);
	background-repeat: no-repeat;
    	background-attachment: fixed;
	background-position: center;
	font-family: 'Lato', sans-serif;
	margin: 0;
	font-size: 17px;
}

#wrapper {
	background-color: #F3F3E0;
	width: 960px;
	margin: 0 auto;
}

/*
body:after {
  content: "Shrek es amor, Shrek es vida";
  text-align: center;
  font-size: 8em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*/

/*HEADER STYLES
==================================*/

header {
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
	font-size: 2em;
	background-image: url(IMG/InfoPersonal/IMG_HBG.jpg);
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding: 1em 0;
}
header img{
	width: 250px; 
	height: 250px; 
	border-radius: 150px; 
	-webkit-border-radius: 150px; 
	-moz-border-radius: 150px;  
	box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	position: relative;
	left: 80px;
	top: 50px;
}

header p{
	position:relative;
	left:430px;
	top:-150px;
}


/* MAIN STYLES
=============================== */
main {
	padding: 1em 2em;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}



/* H1, H2
====================================*/

h1,h2 {
	font-family: 'Roboto Slab', serif;
	color: #000;
}

h1 {
	font-size: 2em; 
	line-height: 1em;
}

h2 {
	font-size: 1.5em; 
	line-height: 1em;
}



/* Img
==============================*/

.imgleft{
	float:left;
	margin: 0 1em 0 0;
}
.imgright{
	float:right;
	margin: 0 0 0 1em;
}

#biografía {
	min-height: 400px;
}
.hobby {
	overflow:auto;
	margin: 3em 0;
}

.invisible {
	opacity: 0.0
}


/* Style
==============================*/

table {
    width: 50%;
    vertical-align: center;
    border-collapse: collapse;
    border: 3px solid black;
    position: center;
}

th {
    text-align: center;
    border: 3px solid black;
    vertical-align: center;
    border-collapse: collapse;
}
tr:hover{background-color:#f5f5f5}

/*NAV
==========================*/

nav {
	background-color: #292929;
	text-align: right;
	margin-top: 0;
	padding: 0.05em 0em;
	margin-bottom: 1em;
	text-transform: uppercase;
	width: 100%;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
}

nav li {
	display: inline;
	margin-right: 5em;
}

nav a:link {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:focus {
	color: #00A606;
}

nav a:hover {
	color: #00A606;
}
#contact {
	position: center;
}

nav a:active {


	color: #00A606;
}


/*FOOTER
================================*/

footer {
	background-color: #292929;
	color: #000000;
	padding: 0.5em 5em;
	margin-top: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}
.nav_plain {
	width: 100%	;
	text-align: center;
	color: #000000;
}

/*LABEL
================================*/

label {
	cursor: 
}

/*LOGIN
================================*/

.login input [type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 3px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input [type=button] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 3px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input [type=button]:hover{
	opacity: 0.8;
}

.login input [type=button]:active{
	opacity: 0.8;
}

.login input [type=text]:focus{
	outline: none;
	border: 2px solid rgba (255,255,255,0.9);
}

.login input [type=button]:focus{
	outline: none;
}


.txt
{
	color: black;
	width: 13em;
}

#divDragAndDrop {
    width: 350px;
    height: 200px;
    padding: 10px;
    border: 5px solid #aaaaaa;
    background: white;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: 3;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: fixed;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

